<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-8 col-md-8 footer-contact">
            <h3>Contact Us</h3>
            <p>
              XYZ Street
              New Delhi, U.P.
              India <br>
              <strong>Phone:</strong> +918275793214<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
        </div>

      </div>
    </div>
</div>

<div class="container d-md-flex py-4">
  
<div class="social-links text-center text-md-right pt-3 pt-md-0">
  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
  <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
</div>
</div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/vendor/purecounter/purecounter.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>

</body>
<script>
  $('document').ready(function(){
  $('#email').keyup(function() {
      $.ajax({
             type: "POST",
             url: "signUpForm",
             data: {
                    email: $('#email').val()
            },
             success: function(response){
              if (response == 'taken' ) {
            email_state = false;
            $('#email').parent().removeClass();
            $('#email').parent().addClass("form_error");
            $('#email').siblings("span").text('Sorry... Email already taken');
                 
             }
          }
      });
    });
  });
    </script>

</html>