<%- include('partials/header.ejs') %>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->

    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Mentors to Guide</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    
    <div class="container">   
      <% for(var i=0; i<joinedMentor.length; i++) { %>
    <div class="row">
      <div class="col-lg-3 order-1 order-lg-1" data-aos="fade-left" data-aos-delay="100">
        <img src="/img/about.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-2 content">
        <h3>About the mentor</h3>
        <p>
          <%= joinedMentor[i].message %>
          We as a student found out that it's pretty much an issue that students are not able to share the notes among themselves because may be they don't know who is the right the person to approach
          for this and how many they can approach for the same reason. Thus, we came up with the platform where not only students but also teachers can access the notes available on our website.
        </p>
        <!---
        <ul>
          <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
          <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
          <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
        </ul>
      -->

      </div>
    </div>
    <% } %>
    <div>
      <button type="button" class="btn btn-primary btn btn-success"><a href="/join">Join Us</a></button>

    </div>
    </div>
    
  
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  
  <%- include('partials/footer.ejs') %>
