<%- include('partials/header.ejs') %>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->

    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Mentors to Guide</h2>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-12 pt-4 pt-lg-0 content">
          <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          </p>
        </div>
      </div>

    </div>

    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-12 pt-4 pt-lg-0 content">
          <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          </p>
          
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 pt-4 pt-lg-0 content">
          <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
          <p class="fst-italic">
           <%= message %>
            </p>
          
        </div>
        <!---doubt: isme ek k baad ek kaise add kre -->
        <div>
          <button type="button" class="btn btn-primary btn btn-success"><a href="/join">Join Us</a></button>

        </div>
      </div>

    </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  
  <%- include('partials/footer.ejs') %>
