<form action="/sharevideo" method="post">
    <!-- to error: add class "has-danger" -->
        
    <div class="form-group">
      <label>Subject</label>
      <input type="text" name="subject" class="form-control form-control-sm" id="subject">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Gdrive Link</label>
      <input type="text" name="link" class="form-control form-control-sm" id="link">
    </div>

    <button type="submit" class="btn btn-primary btn-block">Submit</button>
    
  </form>