<%- include('partials/header.ejs') %>

  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Error Page</h2>
       
      </div>
    </div><!-- End Breadcrumbs -->
  <div class="container">
    <p> <%= message %></p>
  </div>
  <%- include('partials/footer.ejs') %>