<%- include('partials/header.ejs') %>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <a href="/signUp" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about" style="background-image: url('https://image.shutterstock.com/image-photo/yellow-background-blue-school-supplies-260nw-1132938011.jpg'); background-repeat: no-repeat; background-size: cover; background-size: 1400px 900px;">
      <div class="container" data-aos="fade-up">
        
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Notes Sharing Platform</h3>
            
            <p class="fst-italic">
              On this platform we present the marketplace for notes, is an answer to all notes sourcing for students, educators and professionals.
            </p>
            <!---
            <ul>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            
            </ul>
          -->
            <p>
              It is enabling students, educators, professionals and even institutions to share their self-prepared notes, typed notes, assignments, presentations, case-studies, blogs and research materials, and sell them across the globe multiple times.
            </p>
            <p>
              It felt like a no-strings-attached platform would benefit students better. It creates an alternative to current note-sharing services while providing students access to helpful resources and helps them get paid as well!
            </p>

          </div>
        </div>

      </div>
    <!-- End About Section -->


 </section>
 </main>
 

  <!-- ======= Footer ======= -->

  <%- include('partials/footer.ejs') %>